<div class="contenido">
    <div class="foot">
        <div class="icon"><img id="logos" src="../../assets/icon.png" /></div>
        <div class="Desc">
            <table>
                <tr>
                    <td><img id="logos" src="../../assets/logo.png" /></td>
                    <td></td>
                    <td>Universidad Autonoma de Aguscalientes, Avenida Universidad, Aguascalientes<br>Correo
                        Electronico: unveranosinti@heart.com<br>Télefono: +524491234567</td>
                </tr>
            </table>
        </div>
        <div class="redes">Siguenos:
            <hr>
        </div>
        <div class='creditos'>
            <button id="button1" class="btn btn-primary" (click)="showAlert()">Créditos</button>
        </div>