<div class="foot">
  <table>
    <tr id="titulos">
      <th>Acerca de UVST</th>
      <th>Servicios</th>
      <th>Reservas</th>
      <th>Hoteles y Destinos</th>
      <th>Servicio a Clientes</th>
    </tr>
    <tr>
      <td>Acerca de UVST</td>
      <td>UVST PARTY</td>
      <td>Reserva tu hotel</td>
      <td>Nuevas Aperturas</td>
      <td>Comentarios y sugerencias:<br />contacto@uvst.com.mx</td>
    </tr>
    <tr>
      <td>Experiencia Única</td>
      <td>UVST Class</td>
      <td>Código Corporativo</td>
      <td>Gastronomía</td>
    </tr>
    <tr>
      <td>Responsabilidad Social</td>
      <td>UVST PartnerClub</td>
      <td>UVST Bodas</td>
      <td>Reuniones en Ciudad</td>
      <td>Centro de Atención Telefónica:<br />5555.3333</td>
    </tr>
    <tr>
      <td>UVST Magazine</td>
      <td>UVST Shop</td>
      <td>Reuniones y Eventos</td>
      <td>Animación para niños</td>
    </tr>
    <tr>
      <td>Código Ético</td>
      <td>Trabaja en UVST</td>
      <td>Conciertos</td>
      <td>UVST Wellness & SPA</td>
      <td>Horario<br />10:00 a 22:00 hrs Lun - Dom</td>
    </tr>
  </table>
  <hr />
  <div>
    <p>
      UVST Hotels & Resorts no realiza activamente llamadas para ofrecer/vender
      vacaciones. Tampoco pide a través de SMS o de las redes sociales datos
      bancarios, tarjetas de crédito, clave NIP, contraseñas o datos sensibles
      de cualquier tipo. Si necesitas aclarar cualquier duda, puedes contactar
      con el Call Center en 800 225 5748.
    </p>
    <br />
    <p>
      2023 Un Verano Sin Ti/Todos los derechos reservados D.R. Términos y
      condiciones/Aviso de privacidad<br />
      <a href="https://www.riu.com/es/home.jsp"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://www.riu.com/es/home.jsp"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.riu.com/es/home.jsp"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.riu.com/es/home.jsp"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      <a href="https://www.riu.com/es/home.jsp"
        ><i class="fa-brands fa-pinterest"></i
      ></a>
    </p>
  </div>
  <br />
</div>
