<br><br><br><br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Fecha de Entrada</th>
        <th>Tipo de Habitacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let componente of componentes">
        <td>{{ componente.nombre }}</td>
        <td>{{ componente.apellido }}</td>
        <td>{{ componente.telefono }}</td>
        <td>{{ componente.fecha[0] }}</td>
        <td>{{ componente.habitacion }}</td>
      </tr>
    </tbody>
  </table>
  </div>