<div class="contacto">
    <h2>Contáctanos</h2>
    <p>Si tienes alguna duda o comentario, no dudes en contactarnos a través de los siguientes medios:</p>
    <ul>
      <li>Teléfono: 449-123-45-67</li>
      <li>Email: hoteluaa@edu.uaa.mx</li>
      <li>Dirección: Benemerita Universidad Autónoma de Aguascalientes</li>
    </ul>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
