
.faq-container {
  width: 70%;
  margin: 30px auto;
  background:#ecfdfe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 3px solid #000000;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid #000000;
  padding: 25px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.faq-item:hover {
  background-color: #c2e1ff;
  transform: scale(1.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.question {
  font-weight: bold;
}

.respuesta {
  display: none;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: slategray;
}

.respuesta.show {
  display: block;
}

.hotel-shape {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(45deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;

}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Estilos responsivos */
@media (max-width: 600px) {
  .faq-container {
    width: 90%;
    padding: 10px;
  }

  .faq-item {
    padding: 8px;
  }

  .respuesta {
    margin-top: 8px;
  }

  .hotel-shape {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .faq-container {
    width: 95%;
    padding: 5px;
  }

  .faq-item {
    padding: 6px;
    font-size: 14px;
  }

  .respuesta {
    margin-top: 6px;
    font-size: 14px;
  }

  .hotel-shape {
    width: 80px;
    height: 80px;
  }
}

