.body{
  background-color: rgb(10, 10, 10, 0.6);
  margin: 1em;
}

img{
  max-width: 100%;
  margin-bottom: 0.5em;
  display: block;
  outline: 2px solid #fff;
  outline-offset: -10px;
}

img:hover{
  transform: scale(1.1);
  outline: 3px solid #BF0404;
}

.galeria{
  margin: 1em;
  column-gap: 0.5em;
  columns: 5 320px;
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../assets/fuentes/neILzCirqoswsqX9zoKmMw.woff2');
}

p{
  font-family: 'Lobster';
  color: white;
  font-size: 3em;
}