.body {
  background-color: rgb(10, 10, 10, 0.6);
  margin: 1em;
}

h1{
  font-family: 'Lobster';
  color: white;
  font-size: 3em;
}

img {
  max-width: 100%;
  margin-bottom: 0.5em;
  display: block;
  outline: 2px solid #fff;
  outline-offset: -10px;
}

img:hover {
  transform: scale(1.1);
  outline: 3px solid #F257C9;
}

.galeria,
.Habitaciones,
.Gimnasio,
.Comedor,
.Piscina {
  margin: 1em;
  column-gap: 0.5em;
  overflow: hidden;
}

.galeria {
  columns: 5;
}

.Habitaciones {
  columns: 4;
}

.Gimnasio {
  columns: 2;
  width: 50%;
  margin-left: 25%;
}

.Comedor {
  columns: 3;
  width: 60%;
  margin-left: 20%;
}

.Piscina {
  columns: 2;
  width: 40%;
  margin-left: 30%;
}

@media screen and (max-width: 768px) {
  .galeria,
  .Habitaciones,
  .Gimnasio,
  .Comedor,
  .Piscina {
    columns: 2;
    width: 100%;
    margin-left: 0;
  }
}
