<br><br><br><br><br>
<div class="body">
    <p>Algunas imagenes de nuestro hotel</p>

    <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" [backgroundColor]="background">
            <mat-tab label="Todo">
                <div class="galeria">
                    <img src="../../assets/galeria/5.png" />
                    <img src="../../assets/galeria/1.png" />
                    <img src="../../assets/galeria/2.png" />
                    <img src="../../assets/galeria/14.png" />
                    <img src="../../assets/galeria/3.png" />
                    <img src="../../assets/galeria/6.png" />
                    <img src="../../assets/galeria/7.png" />
                    <img src="../../assets/galeria/8.png" />
                    <img src="../../assets/galeria/9.png" />
                    <img src="../../assets/galeria/4.png" />
                    <img src="../../assets/galeria/10.png" />
                    <img src="../../assets/galeria/12.png" />
                    <img src="../../assets/galeria/13.png" />
                    <img src="../../assets/galeria/11.png" />
                    <img src="../../assets/galeria/15.png" />
                </div>
            </mat-tab>
            <mat-tab label="Habitaciones">
                <div class="Habitaciones">
                    <img src="../../assets/galeria/1.png" />
                    <img src="../../assets/galeria/2.png" />
                    <img src="../../assets/galeria/3.png" />
                    <img src="../../assets/galeria/17.png" />
                    <img src="../../assets/galeria/18.png" />
                    <img src="../../assets/galeria/19.png" />
                    <img src="../../assets/galeria/16.png" />
                    <img src="../../assets/galeria/15.png" />
                </div>
            </mat-tab>
            <mat-tab label="Gimnasio">
                <div class="Gimnasio">
                    <img src="../../assets/galeria/11.png" />
                    <img src="../../assets/galeria/14.png" />
                    <img src="../../assets/galeria/23.png" />
                    <img src="../../assets/galeria/24.png" />
                </div>
            </mat-tab>
            <mat-tab label="Comedor">
                <div class="Comedor">
                    <img src="../../assets/galeria/22.png" />
                    <img src="../../assets/galeria/9.png" />

                    <img src="../../assets/galeria/21.png" />
                    <img src="../../assets/galeria/10.png" />
                    <img src="../../assets/galeria/20.png" />
                </div>
            </mat-tab>
            <mat-tab label="Piscina">
                <div class="Piscina">
                    <img src="../../assets/galeria/12.png" />
                    <img src="../../assets/galeria/13.png" />
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

</div>