.reservacion {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.label-input-container {
  display: flex;
  flex-direction: column;
}

.label-input-container label {
  margin-bottom: 8px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  margin-right: 20px;
}

.form-column:last-child {
  margin-right: 0;
}

.mat-input-element {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 20px;
}