<br><br><div class="container">
  <div *ngIf="mostrarLogin" class="login-form reservacion">
    <h2>Iniciar sesión</h2>
    <form (submit)="verificarUsuario()">
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input
          type="email"
          id="email"
          class="form-control mat-input-element"
          placeholder="Ingrese su correo electrónico"
          [(ngModel)]="email"
          name="email"
          required
          (input)="validarCorreo()"
        />
        <div class="error-message" *ngIf="!correoValido && email">
          El correo electrónico no tiene un formato válido.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input
          type="password"
          id="password"
          class="form-control mat-input-element"
          placeholder="Ingrese su contraseña"
          [(ngModel)]="password"
          name="password"
          required
          pattern=".{6,}"
          title="La contraseña debe tener al menos 6 caracteres"
        />
        <div class="error-message" *ngIf="password && password.length < 6">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="
          !email ||
          !password ||
          !correoValido ||
          password.length < 6 ||
          cargando
        "
      >
        Iniciar sesión<i *ngIf="cargando" class="fa fa-spinner fa-spin"></i>
      </button>
      <button (click)="onClick()" class="btn">Iniciar sesión con Google</button>
    </form>
    <button class="btn btn-primary" (click)="mostrarRegistro()">
      Crear cuenta
    </button>
  </div>
  <div *ngIf="!mostrarLogin">
    <app-signup (registroExitoso)="mostrarLoginExitoso()"></app-signup>
  </div>
</div>
