<br><br><br><br><br>
<table>
    <tr>
      <td rowspan="3">
        <img src="https://www.barcelo.com/es-mx/barcelo-puerto-vallarta/?_its=JTdCJTIydmlkJTIyJTNBJTIyZTdhODc2MzQtMDVhNC00OGU3LTlmODEtMTVkYmNjZDg4MTI4JTIyJTJDJTIyc3RhdGUlMjIlM0ElMjJybHR%2BMTY4Mzk0NzA2M35sYW5kfjJfNjgwNzVfcHBjYXV0b19hZWFiOThjYTIxM2U0ZmM2M2NmZmI2Y2RkNzJiMzViNn5wdF9nY2xpZH5DandLQ0Fqd3hfZWlCaEJHRWl3QTE1Z0xONXRmQll4T1owb0hTWG5CcTBtZk1GZEs1eHpGeEtuUy15Y205QUhzakw2eGlyVlZlS2dxOHhvQ19Kc1FBdkRfQndFJTIyJTJDJTIyc2l0ZUlkJTIyJTNBMzgyODklN0Q%3D" alt="">
      </td>
      <th colspan="3">Suite Deluxe Premium Level</th>
    </tr>
    <tr>
      <td>Amplias habitaciones elegantes y luminosas ideales para la privacidad y desconexión.</td>
      <td>Conexión Wi-Fi (sin cargo), Caja fuerte y Escritorio</td>
      <td>Desde $2,792 MXN/noche</td>
    </tr>
    <tr>
      <td colspan="2">4 Personas 4 adultos máx. / 2 niños máx</td>
      <td>botón Reservar</td>
    </tr>
    
    <br><br>
    <tr>
      <td rowspan="3">
        <img src="https://www.barcelo.com/es-mx/barcelo-puerto-vallarta/?_its=JTdCJTIydmlkJTIyJTNBJTIyZTdhODc2MzQtMDVhNC00OGU3LTlmODEtMTVkYmNjZDg4MTI4JTIyJTJDJTIyc3RhdGUlMjIlM0ElMjJybHR%2BMTY4Mzk0NzA2M35sYW5kfjJfNjgwNzVfcHBjYXV0b19hZWFiOThjYTIxM2U0ZmM2M2NmZmI2Y2RkNzJiMzViNn5wdF9nY2xpZH5DandLQ0Fqd3hfZWlCaEJHRWl3QTE1Z0xONXRmQll4T1owb0hTWG5CcTBtZk1GZEs1eHpGeEtuUy15Y205QUhzakw2eGlyVlZlS2dxOHhvQ19Kc1FBdkRfQndFJTIyJTJDJTIyc2l0ZUlkJTIyJTNBMzgyODklN0Q%3D" alt="">
      </td>
      <th colspan="3">Familiar</th>
    </tr>
    <tr>
      <td>Disfrute de una vacaciones en familia con esta suite de dos habitaciones y baños privados.</td>
      <td>Conexión Wi-Fi (sin cargo), Caja fuerte y Escritorio</td>
      <td>Desde $3,286 MXN/noche</td>
    </tr>
    <tr>
      <td colspan="2">5 Personas 5 adultos máx. /  3 niños máx.</td>
      <td>botón Reservar</td>
    </tr>
    
    <br><br>
    <tr>
      <td rowspan="3">
        <img src="https://www.barcelo.com/es-mx/barcelo-puerto-vallarta/?_its=JTdCJTIydmlkJTIyJTNBJTIyZTdhODc2MzQtMDVhNC00OGU3LTlmODEtMTVkYmNjZDg4MTI4JTIyJTJDJTIyc3RhdGUlMjIlM0ElMjJybHR%2BMTY4Mzk0NzA2M35sYW5kfjJfNjgwNzVfcHBjYXV0b19hZWFiOThjYTIxM2U0ZmM2M2NmZmI2Y2RkNzJiMzViNn5wdF9nY2xpZH5DandLQ0Fqd3hfZWlCaEJHRWl3QTE1Z0xONXRmQll4T1owb0hTWG5CcTBtZk1GZEs1eHpGeEtuUy15Y205QUhzakw2eGlyVlZlS2dxOHhvQ19Kc1FBdkRfQndFJTIyJTJDJTIyc2l0ZUlkJTIyJTNBMzgyODklN0Q%3D" alt="">
      </td>
      <th colspan="3">Familiar Premium Level</th>
    </tr>
    <tr>
      <td>Este alojamiento cuenta con dos habitaciones y baños privados. Ideal para viajar en familia.</td>
      <td>Conexión Wi-Fi (sin cargo), Caja fuerte y Escritorio</td>
      <td>Desde $3,444 MXN/noche</td>
    </tr>
    <tr>
      <td colspan="2">5 Personas 5 adultos máx. /  3 niños máx.</td>
      <td>botón Reservar</td>
    </tr>
    
    <br><br>
    <tr>
      <td rowspan="3">
        <img src="https://www.barcelo.com/es-mx/barcelo-puerto-vallarta/?_its=JTdCJTIydmlkJTIyJTNBJTIyZTdhODc2MzQtMDVhNC00OGU3LTlmODEtMTVkYmNjZDg4MTI4JTIyJTJDJTIyc3RhdGUlMjIlM0ElMjJybHR%2BMTY4Mzk0NzA2M35sYW5kfjJfNjgwNzVfcHBjYXV0b19hZWFiOThjYTIxM2U0ZmM2M2NmZmI2Y2RkNzJiMzViNn5wdF9nY2xpZH5DandLQ0Fqd3hfZWlCaEJHRWl3QTE1Z0xONXRmQll4T1owb0hTWG5CcTBtZk1GZEs1eHpGeEtuUy15Y205QUhzakw2eGlyVlZlS2dxOHhvQ19Kc1FBdkRfQndFJTIyJTJDJTIyc2l0ZUlkJTIyJTNBMzgyODklN0Q%3D" alt="">
      </td>
      <th colspan="3">Grand Master Suite Vista Mar Frontal Premium Level</th>
    </tr>
    <tr>
      <td>Amplia suite con magníficas vistas al Océano Pacífico y estancia con comedor y sala de TV.</td>
      <td>Conexión Wi-Fi (sin cargo), Caja fuerte y Escritorio</td>
      <td>Desde $4,002 MXN/noche</td>
    </tr>
    <tr>
      <td colspan="2"> 2 Personas 2 adultos máx.</td>
      <td>botón Reservar</td>
    </tr>
  </table>
