table {
    width: 100%;
    margin: 0 auto;
}

.price {
    font-weight: bold;
    color: white;
}

.example-card {
    max-width: 50%;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

img {
    width: 250px;
    height: 120px;
}

#card-0, #card-2{
    left: 5%;
}

#card-1, #card-3{
    left: 45%;
    
}

h1{
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}