

.contacto-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #000000;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 75px;
    margin-top: 75px;
  }
  
  .contacto-titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .contacto-lema {
    font-size: 18px;
    color: #767676;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgb(8, 8, 8);
    animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .contacto-salto {
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
  
  .campo {
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .campo-input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1.5px solid #2997ff;
    border-radius: 8px;
    background-color: rgb(255, 254, 254);
  }
  
  .campo-textarea {
    resize: vertical;
  }
  
  .btn-enviar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2997ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 80px;
    margin-left: 80px;
  }
  
  .btn-enviar:hover {
    background-color: #fc0000;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .contacto-container {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .campo {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .btn-enviar {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
