<div class="reservacion">
  <h2>Reservación de Habitaciones</h2>
  <form (submit)="guardarReservacion($event)">
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="nombre">Nombre:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="nombre" name="nombre" id="nombre">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="apellido">Apellido:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput id="apellido">
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="telefono">Teléfono:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+52 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" id="telefono">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="correo">Correo:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
              placeholder="pat@example.com" id="correo">
            <mat-hint>Ingresa el correo</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Ingrese una dirección de correo válida
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Correo <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="habitacion">Habitación:</label>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una habitación:</mat-label>
            <mat-select [(value)]="selected" id="habitacion">
              <mat-option>Elegir</mat-option>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
              <mat-option value="option4">Option 4 </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="fecha">Fecha de entrada:</label>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Elige Fecha</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" id="fecha">
            <mat-hint>MM/DD/AAAA</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="hora">Hora de entrada:</label>
          <mat-form-field appearance="fill">
            <mat-label>Elige</mat-label>
            <mat-select [disabled]="disableSelect.value" id="hora">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <br>
    <button mat-raised-button color="primary">Reservar</button>
    <br>
    <br>
  </form>
</div>