<br><br><div class="reservacion">
  <h2>Reservación de Habitaciones</h2>
  <form (submit)="guardarReservacion($event)">
    <div class="form-row">
      <div class="form-column">
        <div class="label-input-container">
          <label for="habitacion">Habitación:</label>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una habitación:</mat-label>
            <mat-select [(value)]="hab" id="habitacion" required>
              <mat-option>Elegir</mat-option>
              <mat-option value="option1"
                >Suite Deluxe Premium Level</mat-option
              >
              <mat-option value="option2">Familiar</mat-option>
              <mat-option value="option3">Familiar Premium Level</mat-option>
              <mat-option value="option4"
                >Grand Master Suite Vista Mar Frontal Premium Level</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="label-input-container">
          <label for="fecha">Fecha de entrada:</label>
          <app-Calendario #fechaInput required></app-Calendario>
        </div>
        <div>
          <h4>Tipo de cambio:</h4>
          <h5>USD a MXN: 17.46</h5>
          <h5>USD a EUR: {{ usdToEur }}</h5>
          <h5>USD a GBP: {{ usdToGbp }}</h5>
        </div>
        <button mat-raised-button color="primary">Reservar</button>
      </div>
    </div>
  </form>
</div>
