<br><br><br><br>
<div class="reservacion">
  <h2>Reservación de Habitaciones</h2>
  <form (submit)="guardarReservacion($event)">
    <mat-grid-list cols="5" rowHeight="100px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="nombre">Nombre:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="nombre" name="nombre" id="nombre" required>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="apellido">Apellido:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido</mat-label>
            <input matInput [(ngModel)]="apellido" name="apellido" id="apellido" required>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="telefono">Teléfono:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <span matPrefix>+52 &nbsp;</span>
            <input type="tel" matInput [(ngModel)]="telefono" name="telefono" placeholder="555-555-1234" id="telefono"
              required>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div class="label-input-container">
          <label for="correo">Correo:</label>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="correo" name="correo" [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" placeholder="pat@example.com" id="correo">
            <mat-hint>Ingresa el correo</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Ingrese una dirección de correo válida
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Correo <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="label-input-container">
          <label for="habitacion">Habitación:</label>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona una habitación:</mat-label>
            <mat-select [(value)]="hab" id="habitacion" required>
              <mat-option>Elegir</mat-option>
              <mat-option value="option1">Suite Deluxe Premium Level</mat-option>
              <mat-option value="option2">Familiar</mat-option>
              <mat-option value="option3">Familiar Premium Level</mat-option>
              <mat-option value="option4">Grand Master Suite Vista Mar Frontal Premium Level</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="3" class="calendar align-top">
        <div>
          <div class="label-input-container">
            <label for="fecha">Fecha de entrada:</label>
            <app-Calendario #fechaInput required></app-Calendario>
          </div>
          <div class="spacer"></div>
        </div>
      </mat-grid-tile>
      <br>
      <br>
      <br>
    </mat-grid-list>
    <button mat-raised-button color="primary">Reservar</button>
  </form>
  <br>
</div>