<div class="container">
  <div class="login-form reservacion">
    <h2>Crear cuenta</h2>
    <form (submit)="guardarUsuario()">
      <div class="form-row">
        <div class="form-column">
          <div class="label-input-container">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              class="form-control mat-input-element"
              placeholder="Ingrese su nombre"
              [(ngModel)]="nombre"
              name="nombre"
              required
            />
          </div>
        </div>
        <div class="form-column">
          <div class="label-input-container">
            <label for="apellido">Apellido:</label>
            <input
              type="text"
              id="apellido"
              class="form-control mat-input-element"
              placeholder="Ingrese su apellido"
              [(ngModel)]="apellido"
              name="apellido"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <div class="label-input-container">
            <label for="contrasena">Contraseña:</label>
            <input
              type="password"
              id="contrasena"
              class="form-control mat-input-element"
              placeholder="Ingrese su contraseña"
              [(ngModel)]="contrasena"
              name="contrasena"
              required
            />
          </div>
        </div>
        <div class="form-column">
          <div class="label-input-container">
            <label for="confirmarContrasena">Confirmar contraseña:</label>
            <input
              type="password"
              id="confirmarContrasena"
              class="form-control mat-input-element"
              placeholder="Confirme su contraseña"
              [(ngModel)]="confirmarContrasena"
              name="confirmarContrasena"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-column">
          <div class="label-input-container">
            <label for="telefono">Teléfono:</label>
            <input
              type="text"
              id="telefono"
              class="form-control mat-input-element"
              placeholder="Ingrese su teléfono"
              [(ngModel)]="telefono"
              name="telefono"
              required
            />
          </div>
        </div>
        <div class="form-column">
          <div class="label-input-container">
            <label for="correo">Correo electrónico:</label>
            <input
              type="email"
              id="correo"
              class="form-control mat-input-element"
              placeholder="Ingrese su correo electrónico"
              [(ngModel)]="correo"
              name="correo"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear cuenta</button>
    </form>
  </div>
</div>
