html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-trigger {
    top: -10px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Estilo global de importacion para la pagina contactanos */
@import '~@fortawesome/fontawesome-free/css/all.css';
