<div style="position: relative">
  <img src="assets/bg.png" width="100%" />
  <div
    class="encabezado"
    [ngStyle]="{
      color: 'white',
      'background-color': 'rgba(10,10,10,0.8)',
      'text-align': 'center'
    }"
  >
    <div>
      <h1>Hotel Un Verano Sin Ti</h1>
      <h6>MEXICO - AGUASCALIENTES- AGUASCALIENTES-</h6>
    </div>
    <div></div>
  </div>
</div>
<br />
<section id="data">
  <div></div>
  <div class="desc">
    <div class="top-container">
      <button class="btn btn-dark" (click)="toggleButtons()">
        <i class="fa-solid fa-universal-access"></i> Accesibilidad
      </button>
      
      <div class="button-container" *ngIf="showButtons">
        <button class="btn btn-dark button-animation" (click)="toggleHighContrast()">
          <i class="fas fa-adjust"></i> Alto Contraste
        </button>
    
        <button class="btn btn-dark button-animation" (click)="increaseTextSize()">
          <i class="fas fa-plus"></i> Aumentar Texto
        </button>
    
        <button class="btn btn-dark button-animation" (click)="decreaseTextSize()">
          <i class="fas fa-minus"></i> Disminuir Texto
        </button>
    
        <select class="form-select" (change)="changeLanguage($event)">
          <option value="es">Español</option>
          <option value="en">English</option>
        </select>
    
        <button class="btn btn-dark button-animation" (click)="toggleScreenReader()" *ngIf="speechSynthesisSupported">
          <i class="fa-solid fa-ear-listen fa-beat-fade"></i>
          {{ screenReaderEnabled ? 'Detener Lector de Pantalla' : 'Iniciar Lector de Pantalla' }}
        </button>
      </div>
    
      <div class="container text-center">
        <p [ngClass]="{'high-contrast': isHighContrastMode}" [ngStyle]="{'font-size': fontSize + '%'}">{{ text }}</p>
      </div>
    </div>

    <ng-template #botonver>
      <p id="gradiente">
        
      </p>
      <button (click)="ver()" class="btn btn-outline-warning">Ver más</button>
    </ng-template>
  </div>
</section>
<br /><br />
<section id="imgpreview">
  <div class="fotos">
    <h1>Mira algunas fotos de nuestro hotel:</h1>
    <div>
      <div class="galeria">
        <img src="assets/galeria/5.png" />
        <img src="assets/galeria/1.png" />
        <img src="assets/galeria/2.png" />
        <img src="assets/galeria/14.png" />
        <br /><br />
        <button [routerLink]="['../galeria']" class="btn btn-outline-warning">
          Ver más
        </button>
        <img src="assets/galeria/3.png" style="margin-top: 50px" />
        <img src="assets/galeria/6.png" />
      </div>
    </div>
  </div>
  <br /><br />
</section>

<br><br>
<div class="video">
  <div class="video-wrapper">
    <iframe
      [src]="videoUrl | youtubeUrl"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>